@media only screen and (max-width: 1440px) and (max-height: 900px) {
  body {
    height: 92vh;
    background-size: contain;
  }

  /* MAIN SECTION */
  main {
    margin: 0 auto;
  }

  /** CHARACTER SECTIONS **/
  .character-image-right,
  .character-image-left {
    position: relative;
    top: 263px;
  }

  .mario-2 {
    right: 48px;
  }

  .my-turn-left {
    right: -36px;
    top: -26px;
  }

  .my-turn-right {
    left: 91px;
    top: -26px;
  }

  .speech-bubble-left,
  .speech-bubble-right {
    height: 100px;
    position: relative;
  }

  .speech-bubble-left {
    left: 179px;
    bottom: 36px;
  }

  .speech-bubble-right {
    right: 52px;
    bottom: 36px;
  }

  #winner-modal {
    top: 240px;
  }

  #scoreboard-modal {
    top: 190px;
  }
}

@media only screen and (max-width: 820px) and (max-height: 1180px) {
  body {
    height: 100vh;
    background-size: cover;
  }

  header {
    display: inline-block;
  }

  main {
    display: inline-block;
  }

  .character-image-right,
  .character-image-left {
    display: none;
  }

  .game-grid div {
    height: 180px;
    width: 180px;
  }

  .game-grid div p {
    font-size: 5.1rem;
    margin: 0 auto;
    padding: 18px 10px 0 13px;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .player-token-text {
    font-size: 1.5rem;
  }

  #how-to-play-modal {
    max-width: 70%;
    top: 300px;
  }

  #scoreboard-modal {
    max-width: 50%;
  }

  #winner-modal {
    max-width: 70%;
  }

  .hr-line {
    bottom: 77px;
    left: 16px;
    width: 519px;
  }

  .left-diagonal-line {
    left: -74px;
    top: 268px;
    width: 696px;
  }

  .right-diagonal-line {
    left: -74px;
    top: 269px;
    width: 696px;
  }

  .vertical-line {
    left: -176px;
    top: 269px;
    width: 519px;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  img header {
    display: inline-block;
  }

  main {
    display: inline-block;
  }

  .game-title {
    height: 70px;
    margin-top: 20px;
    width: 90%;
  }

  .game-grid div {
    height: 100px;
    width: 100px;
  }

  .game-grid div p {
    font-size: 3rem;
    padding: 5px 12px 0 19px;
  }

  .player-token-text {
    font-size: 1rem;
    margin: 5px 0 20px;
  }

  #how-to-play-modal {
    max-width: 90%;
    top: 80px;
  }

  #scoreboard-modal {
    max-width: 90%;
  }

  #winner-modal {
    max-width: 90%;
    top: 180px;
  }

  .hr-line {
    bottom: 45px;
    left: 8px;
    width: 292px;
  }

  .left-diagonal-line {
    left: -43px;
    top: 148px;
    width: 395px;
  }

  .right-diagonal-line {
    left: -44px;
    top: 149px;
    width: 395px;
  }

  .vertical-line {
    left: -98px;
    top: 151px;
    width: 292px;
  }

  .ham-menu {
    z-index: 100;
  }

  .ham-menu ul {
    background-color: rgb(254, 210, 10);
  }
}
