/* Selectors will be in alphabetical order under each heading */
/* BODY SECTION */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Secular One', sans-serif;
  height: 100vh;
  margin: 0 auto 50px;
  max-width: 975px;
  text-align: center;
}

h1,
p {
  font-size: 4rem;
}

/* MAIN SECTION */

h2 {
  font-size: 2rem;
  word-spacing: 8px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

p {
  font-family: 'Permanent Marker', cursive;
  margin: 0 auto;
  max-height: 100px;
}

.players-token-icon {
  margin-top: 0;
}

/*** GAME'S GRID */

.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.game-grid div {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  position: relative;
}

/*** CROSSED-OUT LINES */
h3 {
  margin: 0 auto;
  border-top: 3px solid red;
  border-radius: 30%;
}
.vertical-line {
  top: 147px;
  left: -96px;
  position: absolute;
  rotate: 90deg;
  width: 290px;
  z-index: 1;
}

.hr-line {
  bottom: 48px;
  left: 4px;
  position: absolute;
  width: 290px;
  z-index: 1;
}

.left-diagonal-line {
  left: -50px;
  position: absolute;
  rotate: 45deg;
  top: 148px;
  width: 400px;
  z-index: 1;
}

.right-diagonal-line {
  position: absolute;
  left: -50px;
  rotate: 135deg;
  top: 148px;
  width: 400px;
  z-index: 1;
}

/* WINNER TEXT */
.winner-txt {
  font-size: 3.5rem;
}
